<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ループ</title>
</head>

<body>
    <!--id属性必要　appでvue.jsが使われているかわかる-->
    <div id="app">
        <p v-if="error">エラーです</p>
    </div>
    <!-- v-if=ディレクティブ（指示）-->


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                error: false   //ture表示 falseコメントアウト
            }
        });
    </script>
</body>

</html>